[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"

[dev-packages]
flake8 = "*"
flake8-print = "*"
flake8-multiline-containers = "*"
flake8-builtins = "*"
flake8-import-order = "*"
flake8-commas = "*"
flake8-quotes = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
mypy = "*"

[requires]
python_version = "3.11"
